<template>
	<svg :width="width" :height="height">
		<slot />
	</svg>
</template>
<script setup lang="ts">
import { provide, computed, PropType } from "vue"
import { cssPadding } from "../mods/scale"
import { scale as scl } from "../mods/scale"
import { ky, kx } from "../mods/axis"
import { GraphAxis } from "../mods/types"

const props = defineProps({
	width: {
		type: Number as PropType<number>,
		required: true,
		validator(v: number) {
			return Number.isFinite(v) && v > 0
		},
	},
	height: {
		type: Number as PropType<number>,
		required: true,
		validator(v: number) {
			return Number.isFinite(v) && v > 0
		},
	},
	padding: {
		type: [Array, Number] as PropType<number[] | number>,
		default: 0,
		validator(v: number[]) {
			return Number.isFinite(v) || v.every(c => Number.isFinite(c))
		},
	},
})
const padding = computed(() => cssPadding(props.padding))
const h = computed(() => props.height - padding.value[0] - padding.value[2])
const w = computed(() => props.width - padding.value[1] - padding.value[3])
const offsetY = computed(() => padding.value[0])
const offsetX = computed(() => padding.value[3])
provide<GraphAxis<number>>(ky, {
	name: "y",
	size: h,
	offset: offsetY,
	min: computed(() => 0),
	max: h,
	scale(value: number): number {
		return scl({
			value,
			min: 0,
			max: h.value,
			size: h.value,
			offset: offsetY.value,
		})
	},
})
provide<GraphAxis<number>>(kx, {
	name: "x",
	size: w,
	offset: offsetX,
	min: computed(() => 0),
	max: w,
	scale(value: number): number {
		return scl({
			value,
			min: 0,
			max: w.value,
			size: w.value,
			offset: offsetX.value,
		})
	},
})
</script>
