<template>
	<slot></slot>
</template>

<script setup lang="ts">
import { useAxisNb } from "../composables/useAxisNb"
import { kx, propsOptionsNb } from "../mods/axis"

const props = defineProps(propsOptionsNb)
const axis = useAxisNb(props, kx)
defineExpose(axis)
</script>
