<template>
	<line
		v-for="xLine of xLines"
		v-bind="$attrs"
		:key="xLine"
		:x1="xLine"
		:y1="minY"
		:x2="xLine"
		:y2="y2"
		shape-rendering="crispEdges"
	/>
	<line
		v-for="yLine of yLines"
		v-bind="$attrs"
		:key="yLine"
		:x1="minX"
		:y1="yLine"
		:x2="x2"
		:y2="yLine"
		shape-rendering="crispEdges"
	/>
</template>

<script setup lang="ts">
import { computed } from "vue"
import { kx, ky } from "../mods/axis"
import { safeNumber } from "../mods/props"
import { GraphAxis } from "../mods/types"
import { strictAxisInject } from "../mods/utils"

const props = defineProps({
	x: {
		type: Number,
		default: 2,
		validator(n: number) {
			return n >= 0 && Number.isInteger(n)
		},
	},
	y: {
		type: Number,
		default: 2,
		validator(n: number) {
			return n >= 0 && Number.isInteger(n)
		},
	},
	minX: {
		type: Number,
		default: 0,
	},
	minY: {
		type: Number,
		default: 0,
	},
	maxX: safeNumber,
	maxY: safeNumber,
})
const xAxis: GraphAxis = strictAxisInject(kx)
const yAxis: GraphAxis = strictAxisInject(ky)

const x2 = computed(() => props.maxX ?? xAxis.size.value)
const y2 = computed(() => props.maxY ?? yAxis.size.value)

const xStep = computed(() => (x2.value - props.minX) / (props.x - 1))
const yStep = computed(() => (y2.value - props.minY) / (props.y - 1))
const xLines = computed(() => Array.from({ length: props.x }).map((_, i) => props.minX + i * xStep.value))
const yLines = computed(() => Array.from({ length: props.y }).map((_, i) => props.minY + i * yStep.value))
</script>
