<template>
	<slot :ticks="ticks">
		<VgScaledTick v-for="tick of ticks" :key="tick.toString()" :axis="selAxis.name" :value="tick" v-bind="$attrs">
			{{ format(tick) }}
		</VgScaledTick>
	</slot>
</template>

<script setup lang="ts">
import { computed, PropType } from "vue"
import { ticksDate, ticksNb } from "../composables/useTicks"
import { kParent, kx, ky } from "../mods/axis"
import { axis as propAxis, safeNumber, positiveInteger } from "../mods/props"
import { Value } from "../mods/types"
import { strictAxisInject, strictInject } from "../mods/utils"
import VgScaledTick from "./VgScaledTick.vue"

defineOptions({
	inheritAttrs: false,
})
const props = defineProps({
	min: safeNumber,
	max: safeNumber,
	nb: {
		type: Number,
		default: 2,
		validator(n: number): boolean {
			return Number.isSafeInteger(n) && n > 1
		},
	},
	pretty: Boolean,
	axis: propAxis,
	format: {
		type: Function as PropType<(v: Value) => string>,
		default: (n: Value): number | string => n.toString(),
	},
	filter: {
		type: Function as PropType<(v: Value, i: number, arr: Value[]) => boolean>,
		default: () => true,
	},
	year: positiveInteger,
	month: positiveInteger,
	day: positiveInteger,
	hour: positiveInteger,
	minute: positiveInteger,
	second: positiveInteger,
	millisecond: positiveInteger,
})
const parent = strictAxisInject(kParent)
const xAxis = strictInject(kx)
const yAxis = strictInject(ky)
const selAxis = computed(() => (props.axis === "x" ? xAxis : props.axis === "y" ? yAxis : parent))

/* eslint-disable indent */
const ticks = computed(() => {
	return selAxis.value.date
		? ticksDate(selAxis.value.min.value as Date, selAxis.value.max.value as Date, props).filter(props.filter)
		: ticksNb({
				min: props.min ?? (selAxis.value.min.value as number),
				max: props.max ?? (selAxis.value.max.value as number),
				nb: props.nb,
				pretty: props.pretty,
			}).filter(props.filter)
})
/* eslint-enable */
</script>
