<template>
	<slot></slot>
</template>

<script setup lang="ts">
import { computed, onUnmounted, watchEffect } from "vue"
import { kParent, kx, ky } from "../mods/axis"
import { axis as axisProps, safeValueRequired } from "../mods/props"
import { Axis } from "../mods/types"
import { strictAxisInject, strictInject } from "../mods/utils"

const props = defineProps({
	add: safeValueRequired,
	axis: axisProps,
})
const emit = defineEmits<{ (e: "scale", value: number): void }>()
const id = Symbol()
const parent = strictAxisInject(kParent)
const xAxis = strictInject(kx)
const yAxis = strictInject(ky)
const selAxis = computed<Axis>(() => (props.axis === "x" ? xAxis : props.axis === "y" ? yAxis : parent))

watchEffect(() => {
	selAxis.value.setValue(id, props.add)
	emit("scale", selAxis.value.scale(props.add))
})
onUnmounted(() => {
	selAxis.value.values.delete(id)
})
</script>
