<template>
	<circle :cx="x" :cy="y" />
</template>

<script setup lang="ts">
import { computed, onUnmounted, watchEffect } from "vue"
import { kx, ky } from "../mods/axis"
import { d, safeValueRequired } from "../mods/props"
import { strictAxisInject } from "../mods/utils"

const props = defineProps({
	cx: safeValueRequired,
	cy: safeValueRequired,
	...d,
	ignore: Boolean,
})
const id = Symbol()
const yAxis = strictAxisInject(ky)
const xAxis = strictAxisInject(kx)

watchEffect(() => {
	if (props.ignore) {
		yAxis.values.delete(id)
		xAxis.values.delete(id)
	} else {
		yAxis.setValue(id, props.cy)
		xAxis.setValue(id, props.cx)
	}
})

const y = computed((): number => yAxis.scale(props.cy) + props.dy)
const x = computed((): number => xAxis.scale(props.cx) + props.dx)
onUnmounted(() => {
	yAxis.values.delete(id)
	xAxis.values.delete(id)
})
</script>
